BINANCE_API_KEY=your_api_key
BINANCE_API_SECRET=your_api_secret

BINANCE_API_KEY_TESTNET=your_api_key_testnet
BINANCE_API_SECRET_TESTNET=your_api_secret_testnet

BINANCE_TESTNET=true

SYMBOL=BTCUSDT

DATABASE_DIR=data/raw
DATABASE_PATH=data/trades.sqlite

ENABLE_TRADING=false

TRADE_SIZE_USDT=25
