BINANCE_API_KEY=your_api_key
BINANCE_API_SECRET=your_api_secret

BINANCE_API_KEY_TESTNET=your_api_key_testnet
BINANCE_API_SECRET_TESTNET=your_api_secret_testnet

#only "True" or "False"
BINANCE_TESTNET=False
ENABLE_TRADING=False

SYMBOLS=BTCUSDT, ETHUSDT

RAW_DIR=data/raw
PROCESSED_DIR=data/processed
DATABASE_PATH=data/trades.sqlite


# Live processing
TRADE_QUEUE_MAX_SIZE=100000
CUTOVER_TIMEOUT_SECONDS=30.0
STATUS_LOG_INTERVAL_SECONDS=10.0
