SERVER_USER=your_user
SERVER_HOST=your_server_ip

REMOTE_PROJECT_DIR=~/projects/git/Binance_project

LOCAL_RAW_DIR=/home/your_user/projects/git/Binance_project/data/raw
LOCAL_LOG_DIR=/home/your_user/projects/git/Binance_project/logs/server
